<head>
    <link rel="stylesheet" href="/stylesheets/income.css">
</head>

<div class="container">
    {{!-- 記帳列表 --}}
    <div class="income_container">
        <div class="title">
            <h1>修改帳目</h1>
        </div>
        <div class="list"></div>
        <form class="income_form" action="/expense-tracker/{{record._id}}?_method=PUT" method="POST">
            <div class="form_name">
                <label for="name">名稱：</label>
                <input name="name" id="name" type="text" maxlength="20" value="{{record.name}}" placeholder="發薪水 ..." style="display: inline;"
                    required>
            </div>
            <div class="form_date">
                <label for="date">日期：</label>
                <input name="date" id="date" type="date" min="2021-01-01" max="2021-12-31" value="{{record.date}}" style="display: inline;"
                    required>
            </div>
            <div class="form_category">
                <label for="title">類別：</label>
                <input list="titles" class="form-control" name="current-title" id="title" value="{{record.category}}" style="display: inline;"
                    required>
                <datalist id="categories">
                    <option>休閒娛樂</option>
                    <option>家居物業</option>
                    <option>交通出行</option>
                    <option>餐飲食品</option>
                    <option>收入</option>
                    <option>其他</option>
                </datalist>
            </div>
            <div class="form_amount">
                <label for="amount">金額：</label>
                <input name="amount" id="amount" type="number" maxlength="20" value="{{record.amount}}"
                    style="display: inline;" required>
            </div>

            <button class="submit" type="submit">送出</button>
        </form>
        <button class="back" type="submit">
            <a href="/">返回</a>
        </button>
    </div>
</div>
</div>