<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>


<div class="container">
    {{!-- 記帳列表 --}}
    <div class="expense-tracker">
        <div class="title">
            <h1>冰島旅遊基金</h1>
        </div>
        <div class="total">TOTAL:  {{total}} $</div>
        <div class="list">
            <ul class="index-ul">
                {{#each records}}
                <li class="index-list">
                    <i class="{{this.categoryIcon}}"></i>
                    <h2>{{this.name}}</h2>
                    <h2 class="price">{{this.amount}} $</h2>
                    <div class="list-right">
                        <a href="/expense-tracker/{{this._id}}/edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/expense-tracker/{{this._id}}?_method=DELETE" method="POST">
                            <button class="btn-delete" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{!-- 右邊按鈕 --}}
    <div class="buttons">
        <div class="button-up">
            <div class="btn-category">
                <form action="/expense-tracker/filterByCategory" method="POST">
                    <label class="form-label" for="category"></label>
                    <input class="form-control btn-category-inner" list="categorys" name="category" placeholder="類別" id="category" required>
                    <datalist id="categorys">
                        <option>家居物業</option>
                        <option>交通出行</option>
                        <option>休閒娛樂</option>
                        <option>餐飲食品</option>
                        <option>其他</option>
                        <option>收入</option>
                    </datalist>
                </form>
            </div>
        </div>
        <div class="button-down">
            <div class="button-add">
                <a class="a-add" href="/expense-tracker/new">新增</a>
            </div>
            <div class="button-back">
                <a class="a-add" href="/">返回</a>
            </div>
        </div>
    </div>
</div>



