<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>


<div class="container">
    {{!-- 記帳列表 --}}
    <div class="expense-tracker">
        <div class="title">
            <h1>冰島旅遊基金</h1>
        </div>
        <div class="total">TOTAL:  10800 $</div>
        <div class="list">
            <ul class="index-ul">
                {{#each records}}
                <li class="index-list">
                    <i class="{{this.categoryIcon}}"></i>
                    <h2>{{this.name}}</h2>
                    <h2 class="price">{{this.amount}} $</h2>
                    <div class="list-right">
                        <a href="./expense-tracker/{{this._id}}/edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/expense-tracker/{{this._id}}?_method=DELETE" method="POST">
                            <button class="btn-delete" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{!-- 右邊按鈕 --}}
    <div class="buttons">
        <div class="button-up">
            <div class="date">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-date" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        日期
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <input type="submit" value="家居物業" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="交通出行" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="休閒娛樂" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="餐飲食品" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="其他" class="dropdown-item text-secondary" name="category">
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-category" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        類別
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <input type="submit" value="家居物業" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="交通出行" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="休閒娛樂" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="餐飲食品" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="收入" class="dropdown-item text-secondary" name="category">
                        <input type="submit" value="其他" class="dropdown-item text-secondary" name="category">
                    </div>
                </div>
            </div>
        </div>
        <div class="button-down">
            <div class="button-income">
                <a class="a-income" href="/expense-tracker/new-income">收入</a>
            </div>
            <div class="button-expense">
                <a class="a-expense" href="">支出</a>
            </div>
        </div>
    </div>
</div>



